* {
  box-sizing: border-box;
}
.container_portfolio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #105652;
  background-color: #fbf3e4;
  /* border: 5px inset #105652; */
  margin: 2% 5%;
  border-radius: 1.5rem;
  box-sizing: border-box;
}

.heading_portfolio {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.content_portfolio {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  /* border: 2px solid white; */
  border-radius: 1rem;
  gap: 1rem;
  padding: 1rem;
}

.project_card {
  border-radius: 1rem;

  height: 20rem;
  width: 25rem;
}

.hr_port {
  width: 20%;
  margin-left: 40%;
  border: 4px solid green;
}

.img_proj5 {
  background: url("./images/animate.png") no-repeat;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  border-radius: 1rem;
}
.img_proj4 {
  background: url("./images/desert.png") no-repeat;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  border-radius: 1rem;
}
.img_proj2 {
  background: url("./images/clock.png") no-repeat;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  border-radius: 1rem;
}
.img_proj1 {
  background: url("./images/todo.png") no-repeat;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  border-radius: 1rem;
}
.img_proj3 {
  background: url("./images/textutils.png") no-repeat;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  border-radius: 1rem;
}

.img_proj {
  transition: width 2s;
  transition-timing-function: ease;
}

.img_proj:hover {
  width: 105%;
}


@media screen  and (min-width:360px) and (max-width:767px) {
  

  * {
    box-sizing: border-box;
  }
  .container_portfolio {
    
    margin: 3% 3%;
    border-radius: 1rem;
    
  }
  
  .heading_portfolio {
    font-size: 2rem;
  }
  
  .content_portfolio {
    padding: 2rem;
  }
  
  .project_card {
    border-radius: 1rem;
    height: 35vh;
    width: 80vw;
  }
  
  .hr_port {
    width: 60%;
    margin-left: 20%;
  }
  
  

}