* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container_navbar {
  box-sizing: border-box;
  border: 2px solid black;

  width: 100%;
  position: fixed;
}

.navbar_toggler {
  background-color: #dddddd;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
}

.nav-link {
  color: black;
}
.nav-link:hover {
  color: #fca738;
}

.nav-link {
  margin: 0rem 4rem;
}
.flex_nav {
  margin-left: 15rem;
}
